*
!count_unique_papers.py
!collect_urls.py
!plumber.py
!requirements.txt
!scraperv3.py
!link_cifs_mp.py
!tc_cleaner.py
!train_cgcnn.py
!analyze_cgcnn_run.py
!make_splits.py
!train_cgcnn_bandgap.py
!train_cgcnn_tc.py
!md_extractor.py
!build_tc_dataset.py
!make_mp_bandgap_dataset.py
!mineru_batch.py
!tc_postprocess.py
!prep_tc_cgcnn_dataset.py

!fresh-extract2/**
!fresh-mineru-out2/**


!.gitignore
